{% load static %}

{% url 'home' as home_url %}
{% url 'menu' as menu_url %}
{% url 'book' as book_url %}
{% url 'contact' as contact_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for search engines -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Title -->
    <title>De Nada</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <!-- Logo -->
        <a href="{% url 'home' %}">
            <h1 id="logo">De Nada</h1>
        </a>
        <div id="slogan">connect ~ share ~ grow</div>
        <!-- Navbar -->
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fa-solid fa-bars"></i>
        </label>
        <nav>
            <ul id="nav-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'book' %}">Book</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main Content -->
    <main>
        <!-- Hero image -->
        <section id="hero" aria-label=""></section>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <section id="opening-times">
                        <h4>Opening times:</h4>
                        <ul>
                            <li>Sun - Thu: 08:00 - 21:00</li>
                            <li>Fri & Sat: 08:00 - 00:00</li>
                        </ul>
                    </section>
                </div>
                <div class="col-4">
                    <section id="copyright">
                        <h2 class="hidden-text">Copyright</h2>
                        <p>© Copyright 2024 <br>
                            BekMart</p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="social-networks">
                        <li><a href="https://www.facebook.com/" target="_blank"
                                aria-label="Visit our Facebook page (opens in new tab)" rel="noopener">
                                <i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/" target="_blank"
                                aria-label="Visit our Instagram page (opens in new tab)" rel="noopener">
                                <i class="fa-brands fa-square-instagram"></i></a>
                        </li>
                        <li><a href="https://twitter.com/" target="_blank"
                                aria-label="Visit our Twitter page (opens in new tab)" rel="noopener">
                                <i class="fa-brands fa-square-x-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Font Awesome icon link -->
    <script src="https://kit.fontawesome.com/7e995090f4.js" crossorigin="anonymous"></script>
</body>

</html>